name: Merge Scheduler
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

  schedule:
    - cron: 0 * * * *

jobs:
  merge_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: gr2m/merge-schedule-action@v1.x
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
